.legend {
	padding: 50px 15px 0;

	.key {
		border-radius: 10px;
		margin: 10px 0 !important;
		padding-top: 10px;

		&.Northwest {
			border: 2px solid blue;
		}

		&.Northeast {
			border: 2px solid lightgreen;
		}

		&.Southwest {
			border: 2px solid yellow;
		}

		&.Southeast {
			border: 2px solid red;
		}
	}

	.refresh-btn-container {
		padding-top: 20px;
	}
}

.icon-credit {
	margin: 50px 0 10px;
	font-size: 10px;
}
